@{
    ViewData["Title"] = "Dashboard";
    Layout = "EmployeeLayout";
    var fullName = ViewData["fullName"];
} 


<div class="card card-primary card-outline">
    <div class="row">
        <div class="col-7 align-self-center">
            <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Welcome, <span class="page-title text-truncate text-dark font-weight-lighter mb-1"> @fullName!</span></h3>
        </div>
    </div>
    <div class="card-header p-2">
        <h2>Data Item</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" id="tableDataItem">
                <thead class="bg-secondary text-white">
                    <tr>
                        <th>ID</th>
                        <th>Nama</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

