
@{
    ViewData["Title"] = "Manager";
    Layout = "ManagerLayout";
    var fullName = ViewData["fullName"];
}

<div class="card card-primary card-outline">
    <div class="row">
        <div class="col-7 align-self-center">
            <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Welcome, <span class="page-title text-truncate text-dark font-weight-lighter mb-1"> @fullName!</span></h3>
        </div>
    </div>
    <div class="card-headep-2">
        <h2>Request History</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped text-center" id="tableDataList" width="100%">
                <thead class="bg-secondary text-white">
                    <tr>
                        <th>Request Id</th>
                        <th>User Id</th>
                        <th>Item Id</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Quantity</th>
                        <th>Notes</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Modal Approve-->
<div class="modal fade" id="needsApproval" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
            </div>
            <div class="modal-body">
                <div id="editApproval">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>